## Copyright 2009-2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
## Specifying an encoding of UTF-8 is usually safe, but if the text is actually
## in Latin-1, then you should replace the string "UTF-8" with "latin-1".  If
## you do this, you should also change the charset in 'Content-Type' as well.
#encoding UTF-8
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="900">
    <title>$station.location</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="standard.css"/>
    <script type="text/javascript" src="standard.js"></script>
  </head>

  <body onload="setup();">
    <div id="contents">
        #include "../Standard2/titlebar.inc"
      <p><a href="index.html">&#10096; Current Conditions</a></p> 
        <div>
           <!-- start sqlbackup source html -->

           #include "/tmp/sqlbackup/head.inc"
           <hr>
           #include "/tmp/sqlbackup/links.inc"
           <hr>
           #include "/tmp/sqlbackup/alldumps.inc"
           <hr>
           #include "/tmp/sqlbackup/tail.inc"

           <!-- finish sqlbackup source html -->
          </div>
        </div>

    <p class="footnote">
      This station uses an $station.hardware to generate data.
      This data is then collected and displayed by <a href="http://weewx.com/">weeWX</a>, an
      experimental weather software system written in Python.<br>
    </p>


</body>

</html>
