## Copyright 2009-2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
## Specifying an encoding of UTF-8 is usually safe, but if the text is actually
## in Latin-1, then you should replace the string "UTF-8" with "latin-1".  If
## you do this, you should also change the charset in 'Content-Type' as well.
## This is intended for use with the sqlbackup skin
#encoding UTF-8
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- meta http-equiv="refresh" content="900" -->
    <title>$station.location</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="sqlbackup.css"/>
  </head>

  <body onload="setup();">
    <div id="contents">
    <div id="title_bar">
      <div id="title">
          <h1 class="page_title">$station.location</h1>
           <p class="lastupdate">$current.dateTime</p>
      </div>
    </div>
      <p><a href="../index.html">&#10096; Current Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="sqlbackupREADME.html">SqlBackup README&#10095;</a></p> 
        <div>
           <!-- start sqlbackup source html. If changing skins, use the following text and includes as the content. -->
           This page shows a summary of the output from the sqlbackup that last ran on
            #include $head_file
            <hr>
            #include $links_file
            #include $sys_file
            <hr>
            #include $all_file
            <hr>
            #include $tail_file
           <!-- finish sqlbackup source html -->
          </div>
        </div>

    <p class="footnote">
           <!-- start sqlbackup source file test, these are the locations of the includes above -->
    <!-- $inc_dir
         $head_file
         $links_file
         $sys_file
         $all_file
         $tail_file
	 $skin_name
        -->
           <!-- finish sqlbackup source file test -->
      This station uses an $station.hardware to generate data.
      This data is then collected and displayed by <a href="http://weewx.com/">weeWX</a>, an
      experimental weather software system written in Python.<br>
      This skin is avaliable at github as <a href="https://github.com/glennmckechnie/weewx-sqlbackup">sqlbackup</a>
    </p>


</body>

</html>
